@import 'defaults';

.trivia__wrapper {
  display: flex;
  justify-content: center;
}

.trivia {
  margin: 5rem 2rem 4rem 2rem;
  padding: 2rem 1rem 2rem 1rem;
  max-width: 500px;
  border: none;
  border-radius: 6px;
  color: $primary-color;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);

  &__title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
  }

  &__category {
    font-size: 0.8rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__question {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
  