@import 'defaults';

.answer {
  background: transparent;
  border: 1px solid $primary-color;
  border-radius: 5px;
  color: $primary-color;
  padding: 5px 32px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 10px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  position: relative;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;

  &--red {
    background-color: red;
    color: #f1f1f1;
    animation-name: shakeAnim;
  }

  &--green {
    background-color: green;
    color: #f1f1f1;
    transform: scale(1.05);
  }
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}